* {
    box-sizing: border-box
}

html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: #ffffff;
    font-family: 'Genos' serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Genos' serif;
    color: #000000;
    margin: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.btn {
    padding: .5rem 1rem;
    background: #0A6800;
    color: white;
    border: 1px solid transparent;
    border-radius: .1rem;
    font-size: 1.08em;
    font-family: 'Genos', serif;
}
.btn-big {
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
  }
.btn:hover {
    color: white !important;
    background: #119502;
}

.text-input {
    padding: .7rem 1rem;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #676766;
    outline: none;
    color: #676766;
    line-height: 1.5rem;
    font-size: 1em;
    font-family: 'Genos' serif;
}

.msg {
    width: 100%;
    margin: 5px auto;
    padding: 8px;
    border-radius: none;
    list-style: none;
}

.success {
    color: #1bb835;
}

.error {
    color: #cf1f1f;
}

/* Nav Bar */
header {
    background: #ffffff;
    height: 64px;
}

header * {
    color: #000000;
}
header .logo {
    width: 200px;
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo .logo-image {
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
    height: 64px;
}

header .logo-text span {
    color: #0A6800;
    font-size: 1.3em;
}

header ul {
    float: center;
    margin: 0px;
    padding: 0px;
    list-style: none;

}

header ul li {
    margin-left: 60px;
    float: left;
    position: relative;

}
header ul li ul {
    position: absolute;
    top: 66px;
    right: 0px;
    width: inherit;
    display: none;
    z-index: 88888;
}
header ul li:hover ul,
header ul li ul:focus-within {
    display: block;
}
header ul li ul li {
    width: 100%;
}

header ul li ul li a {
    padding: 10px;
    font-size: .9em;
    background-color: rgb(255, 255, 255);
    color: #0A6800;
}
header .navbar-buttons {
    list-style: none;
    float: right;
    margin-top: 10px;
    margin-right: 10px; /* Adjust margin-right to move the buttons */
    display: flex;
  }
  
header .navbar-buttons div {
    margin-right: 10px; /* Adjust margin-right to separate the buttons */
}

header ul li ul li a.logout {
    color: #119502;
}

header ul li ul li a:hover {
    background: #ffffff;
}

header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover {
    background: #0A6800;
    transition: 0.9s;  
}

header .menu-toggle {
    display: none;
}
body {
    height: 100vh; /* Set the height of the body to full viewport height */
    font-family: 'arial', serif;
  }

.page-wrapper {
    min-height: 100%;
    background-image: url('/images/bckgdimg.png');
    background-size: cover; /* Cover the entire background */
    background-position: rigtht;

}

/* post slider */

.post-slider a:hover {
    color: #119502;
}
.post-slider .slider-title {
    text-align: left;
    padding-left: 65px;
    margin: 30px auto;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}


 .post-slider .post-wrapper {
    width: 100%;
    height: 350px;
    margin-left: 100px;

    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

.post-slider .post-wrapper .post {
    width: 298px;
    height: 300px;
    margin: 0px 10px;
    display: inline-block;
    font-family: 'Arial' serif;
    background: white;
    border-radius: 0px;
    box-shadow: 1rem 1rem 1rem -1rem #2e342e;
}

.post-slider .post-wrapper .post .post-info {
    height: 130px;
    padding: 0px 5px;
}

.post-slider .post-wrapper .post .slider-image {
    width: 100%;
    height: 200px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/* content */
.content {
    width: 90%;
    margin: 30px auto 30px;
}
.this-content {
    width: 100%;
    padding-top: 200px;
    padding-left: 50px;
    float: left;
}
.this-content  .this-title {
    width: 50%;
    font-size: 40px;
    font-weight: bolder;
}
.quiz-btn {
    padding: .5rem 1rem;
    background: #0A6800;
    color: white;
    border: 1px solid transparent;
    border-radius: .1rem;
    font-size: 1.08em;
    font-family: 'Arial', serif;
}
.quiz-btn:hover {
    background: #108f02;
}

.quiz-content {
    width: 100%;
    padding-top: 200px;
    padding-left: 50px;
    float: left;
    background-image: url('/images/qbckgdimg.png');
    height: 90vh;
    background-size: cover; 

}
.quiz-content  .quiz-title {
    font-size: 40px;
    font-weight: bolder;
}

/* Wizard 1 Styling */

main {
    margin-top: 60px;
    margin-left: 200px;
    padding: 30px;
    width: 70%;
    font-size: 30px;
    background: rgb(241, 241, 241);
    box-shadow: 1rem 1rem 1rem -1rem #393e39;
    border-radius: 20px;

}  
 header ul li {
    margin-left: 60px;
    float: left;
    position: relative;
}

main h7 {
    margin-top: 25px;
    font-size: 15;
    font-weight: lighter;
 
}
main p {
    font-size: 20px;
    color:rgb(107, 107, 107)
}

main form {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
   
}
main form input {
    margin-bottom: 6px;
    padding: 5px;
 
}
main form label {
    font-size: 20px;
    display: block;
    margin-top: -25px;
    margin-left: 30px;
    margin-bottom: 3px;

}
main section {
    margin-top: 90px; 
}

main progress{
    margin-left: 20%;
    background:rgb(255, 255, 255);

}
main .text-input{
    width: 40%;
    font-size: 20px;
    border-radius: 0px;
    border: 1px solid rgb(0, 0, 0);
}
.back-button {
    padding: .5rem 1rem;
    background: #0A6800;
    color: white;
    border: 1px solid transparent;
    border-radius: .1rem;
    font-size: 1.08em;
    font-family: 'Arial', serif;
}
.back-button:hover {
    background: #108f02;
}
main section .back-button {
    float: left; 
    font-size: 15px;
}

.next-button {
    padding: .5rem 1rem;
    background: #0A6800;
    color: white;
    border: 1px solid transparent;
    border-radius: .1rem;
    font-size: 1.08em;
    font-family: 'Arial', serif;
}
.next-button:hover {
    background: #108f02;
}
main section .next-button {
    float: right; 
    font-size: 15px;
}

/* Wizard 3 */
.wizard-selection {
    margin-top: 60px;
    margin-left: 200px;
    padding: 30px;
    width: 70%;
    font-size: 30px;
    background: rgb(241, 241, 241);
    box-shadow: 1rem 1rem 1rem -1rem #393e39;
    border-radius: 20px;
}  

.wizard-selection h7 {
    margin-top: 25px;
    font-size: 15;
    font-weight: lighter; 
}
.wizard-selection p {
    font-size: 20px;
    color:rgb(107, 107, 107);
}

.wizard-selection form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 40px;
    font-size: 20px;   
}

.wizard-selection form input,
.wizard-selection form textarea {
    font-size: medium;
    margin-bottom: 30px; /* Add space below each input element */
    padding: 5px; 
    background-color: #fdfdfd;
    border-radius: 10px;;
    border: none;
}
.wizard-selection form input:hover {
    color:rgb(50, 164, 1);

}
.wizard-selection form label {
    margin-bottom: 5px;
}
.wizard-selection #icon {
    font-size: 60px;

}
.wizard-selection form button {
    text-align: center;
    height: 180px;
    width: 180px;
    background-color: #fdfdfd;
    border-radius: 10px;;
    border: none;
    margin-top: 3px;
    margin: 20px;
    padding: 10px; 
}
.wizard-selection form button:hover {
    color:rgb(50, 164, 1);
}

main section {
    margin-top: 90px; 
}

main progress{
    margin-left: 20%;
    background:rgb(255, 255, 255);

}
main .text-input{
    width: 40%;
    font-size: 20px;
    border-radius: 0px;
    border: 1px solid rgb(0, 0, 0);
}
.back-button {
    padding: .5rem 1rem;
    background: #0A6800;
    color: white;
    border: 1px solid transparent;
    border-radius: .1rem;
    font-size: 1.08em;
    font-family: 'Arial', serif;
}
.back-button:hover {
    background: #108f02;
}
main section .back-button {
    float: left; 
    font-size: 15px;
}

.next-button {
    padding: .5rem 1rem;
    background: #0A6800;
    color: white;
    border: 1px solid transparent;
    border-radius: .1rem;
    font-size: 1.08em;
    font-family: 'Arial', serif;
}
.next-button:hover {
    background: #108f02;
}
main section .next-button {
    float: right; 
    font-size: 15px;
}

/* Results Styling */
article {
    margin-left: 30px;
    margin-top: 70px;
    font-size: 20px;
    font-weight: lighter;
    border: 1px solid red;

}

.content .main-content {
    width: 100%;
    float: left;
}

.content .main-content.single {
    background: white;
    padding: 20px 50px;
    font-family: 'Arial' serif;
    font-size: 1em;
    cursor: default;

}
.content .main-content.single .post-title {
    text-align: center;
    margin-bottom: 40px;
    cursor: default;
    
}

.content .main-content .post {
    width: 95%;
    height: 270px;
    margin: 20px auto;
    padding-right: 10px;
    font-family: 'Arial' serif;
    border-radius: 5px;
    background: white;
    position: relative;
}
.content .main-content .post a:hover {
    color: #119502;
}
.content .popular .post {
    border-top: 1px solid gainsboro;
    margin-top: 10px;
    padding-top: 10px;
}
.content .popular .post a:hover {
    color: #119502;
}
.content .popular .post img {
    height: 60px;
    width: 80px;
    float: left;
    margin-right: 10px;
}

.content .main-content .post .post-preview i {
    color: #757575;
    font-size: .8em;
  }

  .content .main-content .post .preview-text {
    line-height: 1.5em;
    font-size: 1.03em;
    color: #444;
  } 

.content .main-content .post .read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid #0A6800;
    background: transparent;
    border-radius: 0px;
    color: #119502 !important;
}

.content .main-content .post .read-more:hover {
    background: #119502;
    color: white !important;
    transition: .25s;
}

.content .main-content .post .post-image {
    width: 40%;
    height: 100%;
    float: left;
    box-shadow: 1rem 1rem 1rem -1rem #393e39;
}

.content .main-content .post .post-preview {
    width: 60%;
    padding: 10px;
    float: right;

  }
  .content .main-content .post .post-preview .preview-text {
    width: 100%;
    padding: 10px;
    font-size: 1.3em;
    color: #0A6800;
    white-space: nowrap;
    text-overflow: ellipsis; 
    overflow: hidden;

  }
  .content .main-content .post .post-preview .preview-text a {
    transition: all 0.3s;
    cursor: default;
  }  
  .content .main-content .post .post-preview .preview-text a:hover {
    padding-left: 10px;
    transition: all 0.3s;
  }

.content .main-content .recent-post-title {
    margin: 20px;
} 
.content .main-content.single p {
    padding-left: 150px;
    padding-right: 50px;
    text-align: justify;
    font-size: 1.3em;
    
}

.content .side-bar {
    width: 30%;
    float: left;
}
.content .side-bar.single {
    padding: 0px 10px;
}
.content .side-bar .section {
    background: white;
    padding: 20px;
    border-radius: none;
    margin-bottom: 20px;
}
.content .side-bar .section .section-title {
    text-align: center;
    margin: 10px 0px 10px 0px; 
}
.content .side-bar .section.search {
    margin-top: 80px;
} 
.content .side-bar .section.topics ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.content .side-bar .section.topics ul li a {
    display: block;
    padding: 15px 0px 15px 0px;
    cursor: default;
    transition: all 0.3s;    
}
.content .side-bar .section.topics ul li a:hover {
    padding-left: 10px;
    transition: all 0.3s;
}

/* Dashboard Sidebar */
header .notify-button {
    padding-right: 15px;
    list-style: none;
    float: right;
    margin-top: 15px;
    margin-right: 50px; /* Adjust margin-right to move the buttons */
    display: flex;
    font-size: 20px;
  }
 .notify-button:hover {
    color: #108f02;
    transition: all .3s;
  }
  header .user-button {
    padding-right: 15px;
    list-style: none;
    float: right;
    margin-top: 15px;
    margin-right: 50px; /* Adjust margin-right to move the buttons */
    display: flex;
    font-size: 20px;
  }
  header .notify-button:hover {
    color: #108f02;
    transition: all .3s;
  }
.admin-wrapper {
    display: flex;
    height: calc(100% - 66px);
  }

.btn {
    padding: .5rem 1rem;
    background: #108f02;
    color: white;
    border: 1px solid #108f02;
    border-radius: none;
    font-size: 1.08em;
    font-family: 'Arial', serif;
}

.btn:hover {
    color: white !important;
    background: #108f02;
}
  
  .admin-wrapper .left-sidebar {
    width: 220px;
    height: 100%;
    background: #ffffff;
    border: 1px solid rgb(224, 224, 224);
  }
  
  .admin-wrapper .left-sidebar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
  }
  
  .admin-wrapper .left-sidebar ul li a {
    padding: 30px;
    display: block;

  }
  
  .admin-wrapper .left-sidebar ul li a:hover {
    background: #108f02;
    color: whitesmoke;
  }
  
  .admin-wrapper .admin-content {
    flex: 8;
    height: 100%;
    padding: 40px 100px 100px;
    overflow-y: scroll;
  }
  .admin-content .page-title {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
/* Auth Pages */

.auth-content {
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: none;
    border: 1px solid rgb(0, 0, 0);

}

.auth-content h2 {
    text-align: center;
    padding-bottom: 10px;
    color: black;

}

.auth-content form div {
    margin-bottom: 10px;

}

.auth-content form p {
    text-align: center;

}

.auth-content form p a {
    text-decoration: underline;


}
.auth-content input {
    width: 100%;
    margin: 0px auto;
    padding: 10px;
    background: white;
    border-radius: none;

    
}
.auth-content button {
    width: 100%;
    margin: 0px auto;
    border-radius: none;
    padding: .5rem 1rem;
    background: #0A6800;
    color: white;
    border: 1px solid transparent;
    border-radius: .1rem;
    font-size: 1.08em;
    font-family: 'Arial', serif;
}

.auth-content button:hover {
    background: rgb(50, 164, 1);
}
.google-btn {
    width: 100%; /* Set a fixed width or adjust as needed */
    margin: 0 auto; /* Center the button horizontally */
    left: 0px;
    text-align: center;
    border-radius: none;
    padding: .5rem 1rem;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid transparent;
    border-radius: .1rem;
    font-size: 1em;
    font-family: 'Arial', serif;
    position: relative; /* Required for positioning the icon */
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
 
  }
  .google-icon {
    position: absolute;
    left: 40px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    font-size: .5em;
    height: 30px;
  }

  .apple-btn {
    width: 100%; /* Set a fixed width or adjust as needed */
    margin: 0 auto; /* Center the button horizontally */
    left: 0px;
    text-align: center;
    border-radius: none;
    padding: .5rem 1rem;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid transparent;
    border-radius: .1rem;
    font-size: 1em;
    font-family: 'Arial', serif;
    position: relative; /* Required for positioning the icon */
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
 
  }
  .apple-icon {
    position: absolute;
    left: 40px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    font-size: .5em;
    height: 30px;
  }

/* Footer */

.footer {
    background: #ffffff;
    color: #000000;
    height: 400px;
    position: relative;
}

.footer .footer-content {
    height: 350px;
    display: flex;
}
.footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
}
.footer .footer-content .footer-section .logo-image {
    width: 40%;
}
.footer .footer-content h1, .footer .footer-content h2 {
    color: rgb(0, 0, 0);
}
.footer .footer-content .about h1 span {
    color: #0A6800;
}
.footer .footer-content .about p {
    font-size: .7em;
    font-family: 'Arial' serif;
}
.footer .footer-content .about .contact a {
    font-size: 1em;
    margin-bottom: 10px;
    transition: all .3s;
}
.footer .footer-content .about .contact a:hover {
    color: #108f02;
    transition: all .3s;
}
.footer .footer-content .about .socials a {
    border: none;
    padding-top: 20px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
}
.footer .footer-content .about .socials a:hover {
    color: #108f02;
    transition: all .3s;
}
.footer .footer-content .links ul a {
    display: block;
    margin-bottom: 10px;
    list-style: none;
    font-size: 1em;
    transition: all .3s;
}
.footer .footer-content .links ul a:hover {
    color: #108f02;
    margin-left: 15px;
    transition: all .3s;
}
.footer .footer-content .contact-form .contact-input {
    background: #e7e7e7;
    color: #000000;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .5rem 1rem;
    border: none;
    border-radius: 0px;
    font-family: 'Arial', serif;
    font-size: .8em;
}
.footer .footer-content .contact-form .contact-input:focus {
    background: #acb0aa;
}
.footer .footer-content .contact-form .contact-btn {
    float: right;
    font-size: 1em;
    font-family: 'Arial', serif;
}
.footer .footer-bottom {
    background: #ffffff;
    color: #000000;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px; 
    left: 0px;
    padding-top: 20px;
}


/* media queries */
@media only screen and (max-width: 934px) {
    .content {
        width: 100%;
    }
    .auth-content {
        width: 50%;
    }
    .content .main-content .post {
        width: 100%;
    }
    .content .main-content {
        width: 100%;
        padding: 10px;
    }
    .content .side-bar {
        width: 100%;
        padding: 10px;
        border-radius: none; 
    }
    .content .side-bar .section.search {
        margin-top: 30px;
    }
    .footer {
        height: auto;
    } 
    .footer .footer-content {
        height: auto;
        flex-direction: column;
    }
    .footer .footer-content .contact-form {
        padding-bottom: 90px;
    }
    .footer .footer-content .contact-form .contact-btn {
        width: 100%;
    }
}
@media only screen and (max-width: 770px) {
    header {
        position: relative;
    }
    .auth-content {
        width: 60%;
    }
    .main-content-wrapper {
        padding: 10px;
    }
    header ul {
        width: 100%;
        background: #0A6800;
        max-height: 0px;
        overflow: hidden;
    }

     .showing {
        max-height: 100em;

    }

    header ul li {
        width: 100%;
    }

    header ul li ul {
        position: static; 
        display: block; 
        width: 100%;
        background: inherit;
    }

    header ul li ul li a {
        padding: 10px;
        background: #0A6800;
        color: #e7e7e7;
        padding-left: 50px;
    }

    header ul li ul li a.logout {
        color: #e7e7e7;
    }

    header .menu-toggle {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 1.9em;
    }

    header .logo {
        margin-left: .5em;
    }

}
@media only screen and (max-width: 600px) {
    .content .main-content .post{
        height: auto;
    }
    .auth-content {
        width: 90%;
    }
    .content .main-content.single {
        padding: 10px 20px;
    }
    .content .main-content .post .post-image {
        width: 100%;
    }
    .content .main-content .post .post-preview {
        width: 100%;
    }
    .content .main-content .post .read-more {
        position: static;
        display: block;
        width: 100%;
        text-align: center;
    }
    .post-slider .next {
        right: 10px;
    }
    .post-slider .prev {
        left: 10px;
    }
}